<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>poeflip</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/consumable-style.css' %}">
</head>
<body>
<nav>
    <div class="logo"><h4>poeflip</h4></div>
    <ul class="nav-links">
        <li>
            <a href="http://www.poeflip.com">Home</a>
        </li>
        <li>
            <a href="http://www.poeflip.com/fossils">Fossils</a>
        </li>
        <li>
            <a href="http://www.poeflip.com/deliriumorbs">Delirium Orbs</a>
        </li>
        <li>
            <a href="http://www.poeflip.com/scarabs">Scarabs</a>
        </li>
    </ul>
</nav>

<table class="consumable-table">
    <tr>
        <th>Fossil</th>
        <th>Avg Price</th>
        <th>Bulk Quant</th>
        <th>Profit</th>
        <th>Profit Per</th>
        <th>Supply</th>
    </tr>
    {% for fossil in fossil_list %}
        <tr>
            <td><img src="{{ fossil.icon_url }}"> {{ fossil.name }}</td>
            <td>{{fossil.avgPrice }}</td>
            <td>{{fossil.bulkQuant }}</td>
            <td>{{fossil.profit }}</td>
            <td>{{fossil.profitPer }}</td>
            <td>{{fossil.supply }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>